@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Contact information</h1>
<h2>@Model["contact"].GetName()</h2>
 <h3>Address details:</h3>
<ol>
  @foreach (var address in @Model["address"])
  {
    <li>@address.GetStreet()</li>
    <li>@address.GetCity()</li>
    <li>@address.GetState()</li>
  }
</ol>

<p><a href="/">Home</a></p>
